transformers  # Specifica la versione, può variare
torch           # Necessario per Hugging Face Transformers
sqlalchemy    # Libreria per connettersi a SQLServer
pandas         # Per gestire i risultati delle query come DataFrame
pyodbc       # Driver per connettersi a SQL Server tramite SQLAlchemy
huggingface-hub    # Per scaricare modelli direttamente da Hugging Face
